---
import BallComponent from "../components/BallComponent.astro";
---

    <html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
    </head>
    <body>
        <h1>hello gsap i astrooooo</h1>
        <BallComponent ballVariant="ball-1"/>
        <BallComponent ballVariant="ball-2"/>
        <BallComponent ballVariant="ball-3"/>
        <BallComponent ballVariant="ball-4"/>
        <BallComponent ballVariant="ball-5"/>
    </body>
    </html>

    <script>

    </script>